ejercicio17/src/main/app/ejercicio17.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" basePath="/ejercicio17" doc:name="HTTP Listener Configuration"/>
    <db:oracle-config name="Oracle_Configuration" host="192.168.100.9" port="1521" instance="prometeo" user="jsbejarano1" password="123456" doc:name="Oracle Configuration"/>
    <flow name="ejercicio17Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/ejemplo" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="id" value="#[message.inboundProperties.'http.query.params'.['id']]" doc:name="Variable"/>
        <logger message="#[flowVars['id']]" level="INFO" doc:name="Logger"/>
        <enricher doc:name="Message Enricher" source="#[flowVars['id']]" target="#[flowVars['resultado']]">
            <db:select config-ref="Oracle_Configuration" doc:name="Database">
                <db:parameterized-query><![CDATA[Select * From aerolinea Where id_aerolinea = #[flowVars['id']]]]></db:parameterized-query>
            </db:select>
        </enricher>
        <logger message="#[flowVars['resultado']]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
